.menu-overlay
  .menu-plate
    ul.menu
      li: a(href='#home')
        include /assets/img/icons/ic_home.svg
        | Home
      li: a(href='#')
        include /assets/img/icons/ic_web.svg
        | PSD Websites
      li: a(href='#')
        include /assets/img/icons/ic_star.svg
        | Premium PSD
        span Files
      li: a(href='#')
        include /assets/img/icons/ic_info.svg
        | About
      li: a(href='#')
        include /assets/img/icons/ic_rss_feed.svg
        | Blog
