nav.nav
  .head.wrap
    h1.head-text Navigation
  .menu-block.wrap
    .menu
      .hamburger-menu#hamburger-menu
        span.line
        span.line
        span.line
  .menu-list.wrap
    ul.menu
      li: a(href="#") PSD Websites
      li: a(href="#") UI Kit
      li: a(href="#") Premium PSD Files
      li: a(href="#") About
      li: a(href="#") Blog
